{{ define "title" }}
	{{ i18n "title_community" }} · {{ .Site.Title }}
{{ end }}

{{ define "main" }}

{{ $allPages := (where .Site.Pages "Section" .Section).ByWeight }}
{{ $parent := .Page }}

{{ $pages := slice }}
{{ range $allPages }}
	{{ if eq .Parent $parent }}{{ $pages = $pages | append . }}{{ end }}
{{ end }}


{{ $main_community := where $pages ".Params.level" "main" }}
{{ $cloudnative_community := where $pages ".Params.level" "cloudnative" }}
{{ $enclavecompute_community := where $pages ".Params.level" "enclavecompute" }}
{{ $dragonwell_community := where $pages ".Params.level" "dragonwell" }}

{{ $title_list := slice "main_community" "cloudnative_community" "enclavecompute_community" "dragonwell_community" }}
{{ $list := slice $main_community $cloudnative_community $enclavecompute_community $dragonwell_community }}

<div class="home-background -no-max-width">
	<img src="{{ (resources.Get "/img/cover-light.jpg").RelPermalink }}" />
</div>

<div class="ss-layout-container">
	<main class="ss-layout-main -noaside">
		{{ range $idx, $val := $list }}
			{{ if ne (len $val) 0 }}
				<div class="ss-list">
					<h2 class="list-title">
						<a>{{ i18n (index $title_list $idx) }}</a>
					</h2>
					<div class="list">
						{{ range $val }}
							{{ partial "card/community_card" . }}
						{{ end }}
					</div>
				</div>
			{{ end }}
		{{ end }}
	</main>
</div>

<script async defer src="https://buttons.github.io/buttons.js"></script>

{{ end }}