.ss-section{
    display:flex;
    padding-bottom: 20px;
    flex-wrap: wrap;
    max-width: 1137px;
    margin: 0 auto;
    padding:20px;
    justify-content: center;
    .photo{
        width: 450px;
        transition: all 1s linear;
        @include mobile {
            width: 80%;
        }
        &:hover{
            transform: scale(1.4);
        }
    }
    .container {
        width: 450px;
        @include mobile {
            margin-top:16px;
            width: 80%;
        }
      }
    
      .title {
        margin: 0;
        margin-bottom: 8px;
        font-size: 20px;
        color: $text-color-link;
    
        @include mobile {
          white-space: wrap;
        }
        a{
          color:#1A1C33;
          &:hover{
            color:#ff6a00
          }
        }    
      }
    
      .meta {
        font-size: 12px;
        color: $text-color-secondary;
      }
    
      .summary {
        margin: 12px 0;
        font-size: 14px;
        color: #444;
      }
    
      .tags {
        font-size: 12px;
        color: $text-color-secondary;
      }
    
      .tag {
        margin-right: 14px;
      }
}